streamlit>=1.35.0
langchain==0.2.14
langchain-community==0.2.12
langchain-openai==0.1.8
openai>=1.3.5

faiss-cpu
tiktoken
sentence-transformers
pypdf
docx2txt
python-pptx

loguru
python-dotenv
